ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
p {
  margin-bottom: 20px;
}
a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: $link_hover;
    text-decoration: none;
  }
  &:active {
    color: $primary_active;
  }
}
img {
  max-width: 100%;
  height: auto;
  line-height: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $basefont;
  font-weight: 600;
}
h1, .h1 {
  @include fz(36);
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.2;

  @media (max-width: 576px) {
    @include fz(30);
  }
}
h2, .h2 {
  @include fz(30);
  line-height: 1.2;

  @media (max-width: 576px) {
    @include fz(27);
  }
}

::-webkit-input-placeholder { color: $font; opacity: 1; transition: opacity 0.3s ease; }
::-moz-placeholder { color: $font; opacity: 1; transition: opacity 0.3s ease; }
:-moz-placeholder { color: $font; opacity: 1; transition: opacity 0.3s ease; }
:-ms-input-placeholder { color: $font; opacity: 1; transition: opacity 0.3s ease; }

:focus::-webkit-input-placeholder { opacity: 0; }
:focus::-moz-placeholder { opacity: 0; }
:focus:-moz-placeholder { opacity: 0; }
:focus:-ms-input-placeholder { opacity: 0; }

.ui {
  &-centered {
    text-align: center !important;
  }
  &-lefted {
    text-align: left !important;
  }
  &-righted {
    text-align: right !important;
  }
}

.ui-field {
  padding-bottom: 20px;

  &-submit {
    padding-top: 10px;
  }
  &-error {
    @include fz(14);
    padding-top: 6px;
    color: $invalid !important;
  }
}
.ui-input {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 0;
  border-bottom: 1px solid $border;
  height: $input_height;
  padding: $input_paddings;
  background: transparent;
  outline: none;
  font-family: $basefont;
  @include fz(14);
  font-weight: 400;

  &:hover {
    border-color: $input_border_hover;
  }
  &:focus {
    border-color: $input_border_focus;
  }
  &.invalid {
    border-bottom-color: $invalid !important;
  }

  @media (min-width: 1590px) {
    @include fz(18);
  }
}
textarea.ui-input {
  height: auto;
  padding: 10px 0px;
  resize: vertical;
  line-height: $lh;
  overflow: hidden;
}

.ui-btn {
  display: inline-block;
  vertical-align: middle;
  height: $btn_height;
  line-height: $btn_height - $btn_border*2;
  border: $btn_border;
  border-radius: 6px;
  padding: $btn_paddings;
  background-color: $btn_bg;
  max-width: 100%;
  @include fz(14);
  color: $btn_color;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: background .2s;

  &:hover {
    background-color: $btn_bg_hover;
    color: #FFF;
  }
  &:active {
    background-color: $btn_bg_active;
  }

  &:disabled,
  &.dasbled {
    cursor: not-allowed;
    background: #000;
    background-color: lighten($btn_bg, 20%) !important;
  }

  &-big {
    padding: 0px 40px;
    height: 45px;
    line-height: 45px;
    @include fz(16);
  }

  &-mini {
    height: 25px;
    line-height: 25px;
  }

  &-block {
    display: block;
    width: 100%;
  }
}

.ui-file {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 8px;
  font-weight: 600;
  position: relative;
  padding-right: 24px;

  &-name {
    margin-right: 5px;
  }
  &-delete {
    position: absolute;
    right: 0px;
    top: 2px;
    width: 18px;
    height: 18px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 3px;
      right: 3px;
      top: 50%;
      margin-top: -1px;
      height: 2px;
      background: #CDCDD2;
      border-radius: 1px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      &:before,
      &:after {
        background: $font;
      }
    }
  }
}

.ui-breadcrumbs {
  margin-bottom: 25px;
  @include fz(15);

  &-link {
    color: $font;

    &:hover {
      color: $primary;
    }

    &:after {
      content: "/";
      display: inline-block;
      margin-left: 6px;
      margin-right: 2px;
      color: $font;
    }
  }
}

.ui-pgn {
  text-align: center;
  margin-bottom: 50px;
}

.ui-clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.ui-block {
  margin-bottom: 45px;

  &-title {
    text-transform: uppercase;
    @include fz(20);
    line-height: 1.15;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &-header {
    clear: both;
    // overflow: hidden;
    margin-bottom: 25px;
    @extend .ui-clearfix;

    &-btn {
      float: right;
      margin-top: -4px;
    }
    &-title {
      float: left;
      text-transform: uppercase;
      @include fz(20);
      line-height: 1.15;
      font-weight: 700;
      padding-right: 20px;
    }
  }
}

.ui-scroller {
  max-height: 415px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 20px;
}
.ui-scroller::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: linear-gradient(
    90deg, 
  rgba(255,255,255,0) 0%,
  rgba(255,255,255,0) 33.3%,
  #CBCBCB 33.3%, 
  #CBCBCB 66.6%, 
  rgba(255,255,255,0) 66.6%,
  rgba(255,255,255,0) 100%
  );
}
.ui-scroller::-webkit-scrollbar-thumb {
  width: 3px;
  height: 3px;
  background: $primary;
}
.svg-inline {
  max-width: 100%;
  max-height: 100%;
}

.ui-video {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;

  img {
    display: block;
    width: 100%;
    border-radius: 6px;
    transition: transform .2s;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(#1b1a1a,.5);
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 45px;
    height: 48px;
    background: url(@/assets/images/icons/ui-play.svg?inline) center no-repeat;
    background-size: contain;
    transition: transform .2s;
    z-index: 2
  }

  &:hover {
    img {
      transform: scale(1.05);
    }
    &:after {
      transform: translate(-50%,-50%) scale(0.9);
    }
  }
}

.slick-arrow {
  // position: absolute;
  // bottom: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  background-color: #C2C1C0;
  cursor: pointer;
  transition: background .2s;

  &:not(.slick-disabled):hover {
    background-color: $primary;
  }
  &.slick-disabled {
    cursor: not-allowed;
    background-color: rgba(#C2C1C0, .4);
  }
  &:after {
    content: "";
    position: absolute;
    width: 70%;
    height: 60%;
    top: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.slick-prev {
  &:after {
    left: 32%;
    background-image: url(@/assets/images/icons/arrow-prev.svg?inline);
  }
}
.slick-next {
  &:after {
    left: -2%;
    background-image: url(@/assets/images/icons/arrow-next.svg?inline);
  }
}
.slick-slide {
  & > div:nth-of-type(2) {
    display: none;
    visibility: hidden;
  }
}

.ui-banner {
  margin-bottom: 40px;

  img {
    display: block;
    margin: 0 auto;
  }

  &-wide {
    @media (max-width: 480px) {
      margin-left: -250px;
      margin-right: -250px;
    }
  }
}

.slick-dots {
  text-align: center;

  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px 5px;
    width: 30px;
    height: 4px;
    background: #FFF;
    border-radius: 2px;
    cursor: pointer;

    button {
      display: none;
      visibility: hidden;
    }

    &.slick-active,
    &:hover {
      background: $primary;
    }
  }

}