$bg: #F3EBE2;
$border: #F2F2F2;
$font: #2A2A2B;
$font_titles: #2A2A2B;
$font_gray: #9F9F9F;
$font_inputs: #444;

$basefont: 'Open Sans';
$fontsize: 18;
$lh: 1.42;

$primary: #EB9139;
$primary_hover: darken($primary, 5%);
$primary_active: darken($primary, 10%);

$black: #222;

$green: #00C365;
$green_hover: darken($green, 5%);
$green_active: darken($green, 10%);

$yellow: #F2A83F;
$yellow_hover: darken($yellow, 5%);
$yellow_active: darken($yellow, 10%);

$red: #FF505A;
$red_hover: darken($red, 5%);
$red_active: darken($red, 10%);

$blue: #279EFF;

$gray: #7d878f;

$invalid: #E23939;

//inputs
$input_border: #EBEBF0;
$input_border_hover: darken($border,15%);
$input_border_focus: $font;
$input_height: 40px;
$input_paddings: 0px;

//btns
$btn_height: 60px;
$btn_border: 0;
$btn_paddings: 0px 50px;
$btn_color: #FFF;
$btn_bg: $red;
$btn_bg_hover: $red_hover;
$btn_bg_active: $red_active;



//links
$link: $primary;
$link_hover: $primary_hover;


//layout
$inner: 1250;
$gutter: 35px;
$col_gutter: 15px;
$breakpoints: ("xl":1590,"lg":$inner,"md":993,"sm":769,"xs":576,"us":400);


@mixin fz($f_size) {
	font-size: $f_size + px;
	font-size: $f_size/16 + rem;
}

@mixin ls($lsp) {
	letter-spacing: $lsp/1000 + em;
}